* {
  box-sizing: border-box;
}


.home-container {
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}



/* HERO */
.hero-section {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}


.hero-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.hero-overlay {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  max-width: 500px;
}


.hero-overlay h1 {
  font-size: 52px;
  margin-bottom: 15px;
  font-weight: 700;
}


.hero-overlay p {
  font-size: 20px;
  margin-bottom: 30px;
}



.hero-btn {
  padding: 14px 35px;
  border: none;
  background: #b8860b;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}



.slider-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}


.slider-dots span {
  width: 12px;
  height: 12px;
  background: white;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}


.slider-dots .active-dot {
  background: #b8860b;
}


/*OFFERS */
.offers-section {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 40px 8% px;
  margin-bottom: 0;
}

.offer-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.offer-icon {
  font-size: 35px;
}

.offer-card h3 {
  margin: 0;
  font-size: 18px;
}

.offer-card p {
  margin-top: 5px;
  color: #777;
}


/*SECTION TITLE */
.section-title {
  text-align: center;
  margin: 0 0 25px;

}


.section-title h2 {
  font-size: 36px;
  color:#222;
  margin: 0;
}


.section-title p {
  color:#777;
  margin: 10px 0 0;
}

/* ================= CATEGORY ================= */

.category-section {
  padding: 30px 8% 50px;
}

.section-title {
  margin: 0 0 25px;
}

.section-title h2 {
  margin: 0;
  font-size: 36px;
  color: #222;
}

.section-title p {
  margin: 10px 0 0;
  color: #777;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 0;
}

.category-card {
  position: relative;
  overflow: hidden;
  height: 350px;
  border-radius: 10px;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(transparent, rgba(0,0,0,.8));
  color: white;
}




/*PROMO */
.promo-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin:20px 0 0;
}

.promo-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.promo-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s;
}

.promo-card:hover img {
  transform: scale(1.08);
}

.promo-content {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.45);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.promo-content h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.promo-content p {
  margin-bottom: 20px;
}





/* ================= BRANDS ================= */


.brands-grid {
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:20px;
}



.brand-card {
  height:120px;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  box-shadow:0 5px 20px rgba(0,0,0,.08);
}



.brand-card img {
  max-width:100%;
  max-height:70px;
}





/* ================= PRODUCTS ================= */


.product-grid {
  display:grid;
  grid-template-columns:repeat(6,minmax(150px,1fr));
  gap:18px;
}

.home-product-card{
    background:#fff;
    text-align:center;
    padding:0;
    border:none;
    box-shadow:none;
}



.home-product-card img {
  width:100%;
  height:230px;
  object-fit:cover;
  display: block;
}

.home-product-card h3{
    font-size:16px;
    margin:12px 0 5px;
    font-weight:600;
}
.home-product-card p{
    font-size:15px;
    color:#444;
    margin-bottom:0;
}

.home-product-card button{
    display:none;
}


.trending-section{
  padding: 20px 8% 70px ;
}

.view-all{
  text-align:center;
  margin-top:20px 0;
}

.view-all button{
  background:#8b0000;
  color:#fff;
  border:none;
  padding:14px 35px;
  font-size:16px;
  cursor:pointer;
  border-radius:5px;
}

.view-all button:hover{
  background:#650000;
}

/*TREDING SECTION */

.trending-section{
  padding:40px 0 0px;
}

.view-all{
  text-align:center;
  margin-top:40px;
}

.view-all button{
  background:#8b0000;
  color:#fff;
  border:none;
  padding:14px 35px;
  font-size:16px;
  cursor:pointer;
  border-radius:5px;
}

.view-all button:hover{
  background:#650000;
}





/* ================= STATISTICS ================= */


.stats-section {
  background:#111;
  color:white;
  padding:60px 8%;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  text-align:center;
}


.stat-box h2 {
  font-size:40px;
  color:#d4af37;
}





/* ================= FOOTER ================= */


.home-footer {
  background:#222;
  color:white;
  padding:60px 8%;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}



.footer-column h3 {
  color:#d4af37;
  margin-bottom:20px;
}



.footer-column p {
  color:#ccc;
  line-height:1.8;
}





/* ================= RESPONSIVE ================= */



@media(max-width:992px){


.offers-section,
.category-grid,
.product-grid {
  grid-template-columns:repeat(2,1fr);
}


.brands-grid {
  grid-template-columns:repeat(3,1fr);
}


.promo-section,
.home-footer,
.stats-section {
  grid-template-columns:repeat(2,1fr);
}


.hero-overlay h1 {
  font-size:38px;
}


}




@media(max-width:600px){


.hero-section {
 height:450px;
}


.hero-overlay {
 left:5%;
}


.hero-overlay h1 {
 font-size:30px;
}



.offers-section,
.category-grid,
.product-grid,
.brands-grid,
.promo-section,
.home-footer,
.stats-section {

 grid-template-columns:1fr;

}


.category-section,
.products-section,
.trending-section,

.brands-section {
 padding:40px ;
}


}

/* ================= PREMIUM HOVER EFFECTS ================= */


.category-card,
.home-product-card,
.brand-card {
  transition: 0.4s ease;
}


.category-card:hover,
.home-product-card:hover,
.brand-card:hover {
  transform: translateY(-8px);
}





.category-card img,
.home-product-card img {
  transition: 0.5s ease;
}



.category-card:hover img,
.home-product-card:hover img {
  transform: scale(1.08);
}






/* Section Heading Design */


.section-title h2 {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
}


.section-title h2::after {

  content:"";
  position:absolute;
  width:60px;
  height:3px;
  background:#b8860b;
  bottom:0;
  left:50%;
  transform:translateX(-50%);

}





/* Button Hover */


button {
  transition:0.3s ease;
}



button:hover {

  background:#8b6508;
  transform:scale(1.05);

}





/* Brand Hover */


.brand-card img {

  transition:0.4s;

}


.brand-card:hover img {

 transform:scale(1.1);

}

.slide-item{
  padding:10px;
}

.home-product-card{
  background:#fff;
  text-align:center;
  border:1px solid #eee;
  border-radius:8px;
  overflow:hidden;
}

.home-product-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.home-product-card h3{
  margin:10px 0 5px;
  font-size:16px;
}

.home-product-card p{
  margin-bottom:15px;
  font-weight:600;
}

.slick-prev:before,
.slick-next:before{
  color:#b8860b;
  font-size:28px;
}

.view-all{
  text-align:center;
  margin-top:30px 0 40px;
}

.stats-section{
    padding:70px 8%;
    background:#f8f8f8;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:40px;
}

.stat-card{
    background:#fff;
    padding:35px 20px;
    text-align:center;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card span{
    font-size:40px;
}

.stat-card h2{
    margin:15px 0;
    color:#b8860b;
    font-size:34px;
}

.stat-card p{
    color:#666;
}

.stat-card:hover{
    transform:translateY(-8px);
}

/* TRUST SECTION */

.trust-section{
    width:100%;
    background:#fff;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:35px 40px;
    margin:40px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

.trust-item{
    text-align:center;
}

.trust-icon{
    font-size:34px;
    display:block;
    margin-bottom:10px;
}

.trust-item h3{
    font-size:28px;
    color:#8B0000;
    margin-bottom:5px;
    font-weight:700;
}

.trust-item p{
    font-size:15px;
    color:#666;
}

/* ================= TOP BRANDS ================= */

.brands-section{
    padding:60px 8%;
    background:#fff;
}

.brands-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    background:#fff;
    border:1px solid #eee;
    padding:25px 20px;
}

.brand-card{
    flex:1;
    text-align:center;
    min-width:120px;
}

.brand-card img{
    max-width:130px;
    height:45px;
    object-fit:contain;
    filter:grayscale(100%);
    transition:.3s;
}

.brand-card img:hover{
    filter:grayscale(0%);
    transform:scale(1.08);
}