.details-container{
    padding:40px;
    max-width:1100px;
    margin:auto;
}

.image-section{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.main-image{
    width:400px;
    height:450px;
    object-fit:cover;
    border-radius:15px;
}

.thumbnails{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.thumbnails img{
    width:80px;
    height:80px;
    object-fit:cover;
    cursor:pointer;
    border-radius:8px;
}

.product-details{
    margin-top:40px;
    font-size:18px;
    line-height:2;
}

.contact-buttons{
    margin-top:30px;
    display:flex;
    gap:15px;
}

.contact-buttons button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#111;
    color:white;
    cursor:pointer;
}

.contact-buttons button:hover{
    background:#e91e63;
}


@media(max-width:600px){

.main-image{
    width:300px;
    height:350px;
}

.thumbnails{
    flex-direction:row;
}

}